<form [formGroup]="form" class="container" *ngIf="!isLoading">
  <div *ngFor="let field of filterOptions">
    <ng-container [ngSwitch]="field.type">
      <div *ngSwitchCase="'text'" class="item">
        <label class="question-label">{{ field.label }}</label>
        <mat-form-field>
          <input matInput [formControlName]="field.key" placeholder="{{ field.label }}" [attr.data-cy]="field.key">
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'select'" class="item">
        <label class="question-label">{{ field.label }}</label>
        <mat-form-field>
          <mat-select [formControlName]="field.key" placeholder="Seleccionar...">
            <mat-option *ngFor="let opcion of field.options" [value]="opcion.value">{{ opcion.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="searchCharacters()"
    style="margin-right: 10px;" [attr.data-cy]="'filtrar'">Filtrar</button>
  <button mat-raised-button color="primary" *ngIf="filtered" (click)="cleanFilters()"  [attr.data-cy]="'limpiar-filtros'">Limpiar filtros</button>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>