@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700,800");

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

::ng-deep .mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface { 
    border-radius: 25px 25px 25px 25px!important; 
}
